<div class="container">
  
<div>
  <%= flash[:notice] %>
</div>
<div class="row">
<%= render 'books/userinfo' ,book: @book, user: @user %><!--ローカル変数が２つ-->
<%#= render 'books/booknew' , book: @book %>

<div class="col-md-9">
<!-- ユーザーの投稿一覧 -->
<h1>Books</h1>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
   <% @books.each do |book| %>
      <tbody>
      <tr>
      <td><%= link_to book.title,book_path(book.id) %></td>
      <td><%= book.opinion %>
      <% end %></td>
      </tr>
      </tbody>
    </table>

  </div>
 </div>
</div>