<div>
  <%= flash[:notice] %>
</div>

 <div class="container mb-5 pb-5 pt-5">
    <div class="row mb-5">
      <h1 class="mx-auto h1">Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
    </div>
    <div class="row">
      <a class="btn btn-info btn-lg btn-block mb-5" href="/users/sign_in">Log in</a>
    </div>
    <div class="row">
      <a class="btn btn-success btn-lg btn-block " href="/users/sign_up">Sign up</a>
    </div>
  
   </div>
